@using E_comerce.Data;
@using E_comerce.Models.ViewModels;
@model Productos


<form method="post" asp-action="Comprar" enctype="multipart/form-data">


    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <h2 class="text-info">Desea Comprar el Nuevo @Model.NombreProducto</h2>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="NombreProducto" class="form-label">Nombre Producto</label>
                            <input asp-for="NombreProducto" class="form-control" disabled />
                            <span asp-validation-for="NombreProducto" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Precio" class="form-label">Precio</label>
                            <input type="number" asp-for="Precio" class="form-control" disabled />
                            <span asp-validation-for="Precio" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="DescripcionCorta" class="form-label">Descripcion Corta </label>
                            <input asp-for="DescripcionCorta" class="form-control"  disabled/>
                            <span asp-validation-for="DescripcionCorta" class="text-danger"></span>
                        </div>
                    </div>

                


                


                   

                    <br />

                    <div class="d-grid gap-2 d-md-block">
                   
                    
                     
                            <button type="submit"  class="btn btn-outline-success">Realizar Compra</button>
                      
                        <a asp-controller="Producto" asp-action="Index" class="btn btn-outline-success">Regresar</a>
                    </div>


                </div>
            </div>

            <div class="col-4">
             @*   @if (Model.producto.Id != 0)
                {
                    <img src="@RUTAIMAGEN.RutaImagen@Model.producto.ImagenUrl" width="100%" style="border-radius:5px; border:1px solid #bbb" />
                }*@

            </div>
        </div>


    </div>






</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script>

        function validarImagen() {
            if (document.getElementById("imagenId").value === "") {
                swal("Error", "Seleccione una Imagen!", "error");
                return false;
            }
            return true;
        }




        $(document).ready(function () {
            $('.summernote').summernote({
                tabsize: 2,
                height: 400
            })
        });

    </script>
                        }